/* standard resource # for HTML */
#define HTML 23

/* HTML resource */
INDEX_PAGE  HTML   "HTML\index.html"
PAGE_1      HTML   "HTML\page1.html"
PAGE_2      HTML   "HTML\page2.html"
LOGO_GIF    HTML   "HTML\logo.gif"
STYLE_CSS   HTML   "HTML\style.css"

/* RCDATA resource */
42          RCDATA "HTML\rcdata.html"

