/*
 * Resources for demo program accompanies the article "How to load and save
 * documents in TWebBrowser in a Delphi-like way" which can be found at
 * http://www.delphidabbler.com/articles?article=14
 *
 * $Rev: 38 $
 * $Date: 2010-02-06 15:36:08 +0000 (Sat, 06 Feb 2010) $ 
*/

#define HTML 23

/*
  Loaded from resources via res:// protocol: contains program's help document.
*/
HELP_HTML HTML "Resources\Help.html"

/*
  Sample code loaded to show how to load HTML from resources.
*/
HTMLRES_HTML HTML "Resources\HTMLRes.html"

/*
  Loaded from resources in stream as sample HTML code for display in a memo
  control in demo
*/
SAMPLE_HTML_ANSI RCDATA "Resources\Sample-ANSI.html"
SAMPLE_HTML_UTF8 RCDATA "Resources\Sample-UTF8.html"
SAMPLE_HTML_UCS2LE RCDATA "Resources\Sample-UCS2LE.html"


